@CHARSET "UTF-8";

.top-bar {
	background: none;
	height:auto;
	margin: 0px;
	border-bottom: 2px solid #CA3339;
	padding-bottom: 10px;
}

.top-bar-section ul li>a {
	background: none !important;
}

.top-bar-section ul li.active>a {
	background: none;
}
.top-bar-section ul li.active {
	background: #CA3339 !important;
		-moz-border-radius: 6px;
border-radius: 6px;

}

.top-bar-section li a:not(.button) {
padding: 0 7px;
line-height: 32px;
}
.top-bar-section li{
	margin: 0px 8px;

	}
.top-bar-section ul li > a {
	color:black;
	font-size: 12px;
font-weight: normal;
text-transform: uppercase;

	}
.top-bar-section ul {
	background: none;
	margin: 22px 10px;
}

.top-bar-section li:hover{
	background: #CA3339 !important;
	-moz-border-radius: 6px;
border-radius: 6px;

}
.top-bar-section li.active a{
	color:white

	}
.top-bar-section li:hover a{
	color:white

	}
	
.about{
	background: #3D4144;
	padding: 0px;
	
}
.about h2{
	color: white;
	margin: 0px;
	padding: 20px 20px 0px;
	font-size: 34px;
}
.about p{
		color: white;
		padding:20px;
}
